*,
*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  height: 100vh;
  font-family: "Arsenal SC", sans-serif;
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  background-color: grey;
}

header {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid white;
  font-size: 2rem;
  background-color: black;
}

header h1 {
  display: flex;
  outline: 1px solid white;
  border-radius: 10px;
  padding: 1.5rem;
  -webkit-box-shadow: 0px 0px 33px -2px rgba(255, 255, 255, 0.74);
  -moz-box-shadow: 0px 0px 33px -2px rgba(255, 255, 255, 0.74);
  box-shadow: 0px 0px 33px -2px rgba(255, 255, 255, 0.74);

  color: white;
}

form {
  display: flex;
  padding-top: 2rem;
  padding-bottom: 2rem;
  gap: 1rem;
  justify-content: center;
  border-bottom: 2px solid white;
  background-color: grey;
}

form input {
  width: 15rem;
  height: 2.5rem;
  border-radius: 10px;
  font-size: 1.25rem;
  padding-left: 0.5rem;
  border: 2px solid black;
  box-shadow: 2px 2px 3px 0px black;
}

form button {
  width: 4rem;
  border-radius: 10px;
  background-color: white;
  font-size: 1.25rem;
  box-shadow: 2px 2px 3px 0px black;
}

.filter-list {
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
  border-bottom: 2px solid black;
  padding-bottom: 1.25rem;
  background-color: black;
  color: white;
}

.filter-list div {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.filter-list label {
  margin-left: -1rem;
}

.filter-list input {
  transform: scale(0.5);
  margin-left: 1rem;
  margin-right: 0rem;
}

#remove {
  margin-left: 2rem;
  width: 140px;
  margin-top: 1rem;
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 0.25rem;
  border: 2px solid white;
}

#remove:active {
  background-color: white;
  color: black;
}

#filter-all,
#filter-active,
#filter-completed {
  width: 5rem;
  height: 1.5rem;
}

#filter-completed:active {
  background-color: black;
}

article {
  display: flex;
  padding: 2rem;
}

.todo-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  width: 100%;
  overflow: auto;
  border-top: 2px solid white;

  padding: 1rem;
}

.todo-container li {
  font-size: 1.25rem;
  padding-left: 1rem;
  list-style: inside;
}

.todo-container ul {
  background-color: black;
  border-radius: 10px;
  border: 2px solid white;
  color: white;
  padding: 1rem;
  margin: 0rem;
}
