*,
*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  height: 100vh;
  font-family: "Abel", sans-serif;
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  background-color: black;
  position: relative;
}

header {
  display: flex;
  justify-content: center;
  background-color: rgb(29, 121, 133);
}

input[type="text"] {
  font-size: 1rem;
}
.form-container {
  right: 1rem;
  top: 14rem;
}
#show-input-container {
  margin-left: 1rem;

  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 2rem;
}

#new-todo-form {
  display: none;
  justify-content: center;
}

form input {
  width: 15rem;
  height: 2.5rem;
  border-radius: 10px;
  font-size: 1.25rem;
  padding-left: 0.5rem;
  border: 2px solid black;
  box-shadow: 2px 2px 3px 0px black;
}

form button {
  width: 4rem;
  height: 2.5rem;
  border-radius: 10px;
  background-color: white;
  font-size: 1.25rem;
  box-shadow: 2px 2px 3px 0px black;
}

.filter-list {
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr 1fr;
  padding-top: 1rem;
  border-bottom: 2px solid black;
  padding-bottom: 1.25rem;
  background-color: black;
  color: white;
  font-size: 1.25rem;
  gap: 1rem;
  padding-top: 2rem;
}

.filter-list div {
  display: flex;
  align-items: center;
}

.filter-list label {
  margin-left: -1.5rem;
}

.filter-list input {
  margin-left: 1rem;
  margin-right: 0rem;
}

input[type="radio"] {
  scale: 0.5;
}

#remove {
  margin-left: 2rem;
  width: 140px;
  margin-top: 1rem;
  font-size: 0.75rem;
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 0.25rem;
  border: 2px solid white;
}

#remove:active {
  background-color: white;
  color: black;
}

#filter-all,
#filter-active,
#filter-completed {
  width: 5rem;
  height: 1.5rem;
}

#filter-completed:active {
  background-color: black;
}

article {
  display: flex;
  padding: 2rem;
}

#show-input-container {
  scale: 0.75;
  background-color: rgb(29, 121, 133);
  border: none;
}

.todo-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  width: 100%;
  overflow: auto;

  padding: 1rem;
}

.todo-container li {
  display: flex;
  padding: 0.5rem;
  margin-bottom: 1rem;
  gap: 0.5rem;
  background-color: gray;
  border-radius: 5px;
  font-size: 1.25rem;
  padding-left: 1rem;
  list-style: none;
}

.todo-container ul {
  background-color: black;
  border-radius: 10px;
  color: white;
  padding: 1rem;
  margin: 0rem;
}

@media (min-width: 770px) {
  body {
    font-size: 2rem;
  }

  header h1 {
    font-size: 5rem;
  }

  form input {
    width: 40rem;
    height: 4rem;
  }

  .input-todo button {
    height: 4rem;
    width: 8rem;
  }

  .filter-list {
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
  }

  .filter-list div {
    justify-content: center;
  }

  #remove {
    width: 200px;
    height: 40px;
    font-size: 1rem;
    margin-top: 0.25rem;
  }

  .todo-container {
    align-items: center;
  }

  .todo-container li {
    width: 50rem;
    font-size: 2rem;
  }

  .filter-list input {
    transform: scale(1.25);
  }
}
